<div class="app-content">
  <div class="container-fuild">
    <div class="row">
      <div class="col-md-3">
        <div class="app-content__content pr-3">
          <mat-card class="card mb-2" *ngFor="let user of users">
            <mat-card-header>
              <mat-card-title>{{ user.name }}</mat-card-title>
              <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
            </mat-card-header>
            <!-- <mat-card-content>
             
            </mat-card-content> -->
            <mat-card-actions>
              <button mat-stroked-button (click)="openPosts(user.id)">
                My posts
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="col-md-9">
        <div class="app-content__content">
          <app-post
            [posts]="posts"
            *ngIf="posts"
            (showComment)="openComments($event)"
          ></app-post>
        </div>
      </div>
    </div>
  </div>
</div>
